.main a:hover {
  text-decoration: none;
}

.main li:nth-child(even) a:hover {
  color: red;
}

h1.heading:hover {
  text-decoration: underline;
}

p:hover i {
  transform: translate(-2px, -2px);
  display: inline-block;
}

.secondary a:hover {

}

.main a:nth-of-type(odd):hover {
  color: green;
  text-decoration: none;
}

p:hover b {
  color: red;
  transform: translate(0px, -2px);
  display: inline-block;
}