/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #707070;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.header {
  margin-top: 10px;
}

.header-top .logo {
  clear: both;
  text-align: center;
}

.header-contact {
  float: left;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header-contact a {
  color: #707070;
  text-decoration: none;
}

.header-contact .icon {
  font-size: 20px;
  color: #ff6b6b;
  margin-right: 15px;
}

.header-controls {
  float: right;
}

.user-controls {
  float: left;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.user-controls img {
  margin-right: 5px;
}

.cart-controls {
  float: left;
  margin-top: 5px;
}

.cart-controls :first-child {
  font-size: 20px;
}

.cart-controls .cart-quantity {
  position: absolute;
  top: 6px;
  right: 100px;
  background-color: #ff6b6b;
  color: white;
  height: 16px;
  border-radius: 20px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-primary {
  text-align: center;
}

.nav-primary ul {
  display: inline-block;
}

.nav-primary li {
  display: inline-block;
}

.nav-primary a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #707070;
  font-weight: 300;
  padding: 10px;
  border-radius: 30px;
  transition: color 0.2s linear,
    background-color 0.2s linear;
}

.nav-primary a:hover {
  background-color: #ff6b6b;
  color: white;
}

.nav-secondary {
  text-align: center;
  margin-top: 10px;
}

.nav-secondary ul {
  display: inline-block;
}

.nav-secondary li {
  display: inline-block;
}

.nav-secondary a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #707070;
  font-weight: 300;
  margin-right: 0 5px;
}

.nav-secondary a:hover {
  color: #ff6b6b;
}

.content-header {
  margin-top: 20px;
  background: url('../images/banners/banner-01.jpg') no-repeat center center;
  background-size: cover;
}

.banner-main {
  min-height: 572px;
  display: flex;
  align-items: center;
  position: relative;
}

.banner-header {
  margin-left: 35px;
  text-align: center;
}

.banner-header h1 {
  color: white;
  font-size: 75px;
  font-weight: bold;
}

.banner-header h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

.banner-header .banner-cta {
  display: inline-block;
  padding: 27px 40px;
  border: 1px solid #ff6b6b;
  border-radius: 45px;
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
  margin-top: 40px;
  transition: color 0.2s linear,
    background-color 0.2s linear;
}

.banner-header .banner-cta:hover {
  background-color: #ff6b6b;
  color: white;
}

.banner-copy {
  position: absolute;
  font-weight: 300;
  font-size: 14px;
  left: 35px;
  bottom: 15px;
  color: white;
}

.content-main section {
  margin-top: 100px;
}

.content-main section h1 {
  font-size: 30px;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 15px;
}

.content-main section h1 span {
  text-transform: uppercase;
  font-weight: 500;
}

.content-main section p {
  text-align: center;
  line-height: 24px;
  margin-bottom: 50px;
}

.catalog-preview .catalog-tiles {
  overflow: hidden;
  margin-bottom: 50px;
}

.catalog-preview .catalog-tile {
  float: left;
  width: 33.33%;
  text-align: center;
  font-weight: 300;
}

.catalog-preview .image-container {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.catalog-preview .product-badge {
  color: #ff6b6b;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 20px;
}

.catalog-preview .catalog-tile .product-title {
  display: block;
  color: #707070;
  font-size: 24px;
  text-decoration: none;
  margin: 30px 0 5px 0;
}

.catalog-preview .catalog-tile .product-title span:first-child {
  color: #000000;
  font-weight: 500;
}

.catalog-preview .catalog-tile .product-title span:nth-child(2) {
  font-weight: 500;
}

.catalog-preview .catalog-tile .product-subtitle {
  font-size: 18px;
  color: #707070;
  text-decoration: none;
  display: block;
}

.catalog-preview .catalog-tile .product-pricing {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 300;
}

.catalog-preview .catalog-tile .product-price-regular {
  display: block;
  text-decoration: line-through;
  font-size: 18px;
  margin-bottom: 5px;
}

.catalog-preview .catalog-tile .product-price > span {
  color: #ff6b6b;
  font-weight: 500;
}

.catalog-preview .catalog-tile .a2c-cta {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff6b6b;
  font-weight: 400;
  padding: 10px 20px;
  border: 1px solid #ff6b6b;
  border-radius: 40px;
  transition: color 0.2s linear,
    background-color 0.2s linear;
}

.catalog-preview .catalog-tile .a2c-cta:hover {
  background-color: #ff6b6b;
  color: #fff;
}

.catalog-preview footer {
  text-align: center;
}

.catalog-preview .catalog-preview-cta {
  text-transform: lowercase;
  text-decoration: none;
  color: #707070;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s linear;
}

.catalog-preview .catalog-preview-cta::before,
.catalog-preview .catalog-preview-cta::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #ff6b6b;
  margin: 0 10px;
  transition: width 0.4s linear;
}

.catalog-preview .catalog-preview-cta:hover {
  color: #000000;
}

.catalog-preview .catalog-preview-cta:hover::before,
.catalog-preview .catalog-preview-cta:hover::after {
  width: 100px;
}

.home-cta {
  background: url('../images/banners/banner-04.jpg') no-repeat center center;
  background-size: cover;
  height: 236px;
}

.home-cta > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
  text-decoration: none;
  padding-right: 40px;

}

.home-cta .home-cta-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
  display: inline-block;
  text-align: right;
}

.home-cta .home-cta-subtitle {
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}

.home-social ul {
  text-align: center;
}

.home-social ul li {
  display: inline-block;
}

.home-social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #707070;
  color: #707070;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
  font-size: 25px;
}

.home-payment ul {
  text-align: center;
  width: 350px;
  margin: 15px auto;
}

.home-payment ul li {
  display: inline-block;
  margin: 5px;
}

.footer-top {
  background: #1B1927 url('../images/banners/banner-06.jpg') no-repeat center right;
  height: 417px;
  color: #707070;
  font-size: 14px;
  overflow: hidden;
}

.footer-top a {
  text-decoration: none;
  text-transform: uppercase;
  color: #707070;
}

.footer-top .footer-info {
  display: flex;
  margin: 50px 0 25px 50px;
}

.footer-top .footer-info ul {
  margin-right: 60px;
}

.footer-top .footer-contact {
  margin-left: 50px;
}

.footer-top .footer-contact ul {
  float: left;
  margin-right: 150px;
}

.footer-top .footer-contact ul li {
  display: inline-block;
}

.footer-top .footer-contact ul a {
  display: block;
  text-align: center;
}

.footer-top .footer-contact ul i {
  display: block;
  margin-bottom: 5px;
  color: #ff6b6b;
  font-size: 24px;
}

















