body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.container {
  border: 1px solid black;
  padding: 5px;
  position: relative;
}

.top-nav {
  position: absolute;
  right: 5mm;
  bottom: -220mm;
  background-color: #4a4aa0;
  color: brown;
}

nav a {
  color: brown;
}

.container .legend {
  background-color: gray;
  border: 1px  solid red;
  padding: 2px;
  position: absolute;
  left: 20px;
  top: -15px;
}

.container .sup {
  font-size: 10px;
  position: relative;
  top: -5px;
}

.sticky-nav {
  background-color: green;
  position: fixed;
  top: 0mm;
  left: 0mm;
  z-index: 1;
}




