/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Playfairdisplay';
  color:#2B2B2B;
  font-size: 19px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

.header .header-top {
  padding-bottom: 100px;
}

.header-contact {
  float: left;
  display: flex;
  margin-left: 170px;
  margin-top: 15px;
}

.header-contact ul li {
  display: inline-block;
}

.header-contact ul li a {
  display: inline-block;
  color:#2B2B2B;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}

.header .header-top .header-contact {
  color: #2B2B2B;
  font-size: 16px;
}

.header-contact a {
  text-decoration: none;
  color: #2B2B2B;
}

.header-controls {
  display: flex;
  float: right;
  margin-right: 170px;
  margin-top: 15px;
}

.search-form input[type="text"] {
  border: 1px solid #CCCCCC;
  background: transparent;
  width: 240px;
  height: 41px;
  padding-left: 35px;
}

.search-form button {
  background: transparent;
  border: transparent;
  line-height: 41px;
  cursor: pointer;
  font-size: 20px;
  color: #2B2B2B;
  position: absolute;
  margin-left: 5px;
}

.header-top .user-control ul li {
  display: inline-block;
}

.user-control ul li a {
  display: inline-block;
  color: #111111;
  margin-left: 30px;
  margin-top: 10px;
}

.nav {
  text-align: center;
}

.nav ul {
  display: inline-block;
}

.nav ul li {
  display: inline-block;
  margin-top: 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0 70px;
}

.header-bottom {
  background-color: #2B2B2B;
  height: 52px;
}

.header-bottom .nav ul li:nth-child(3) {
  text-decoration: underline;
}

.content h1 {
  font-size: 35px;
  margin-top: 90px;
  font-weight: bold;
}

.content p {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 300;
  margin: 40px 0 46px 0;
  color: #707070;
  line-height: 33px;
}

.nav-products .my-nav ul {
  display: flex;
  text-align: center;
}

.nav-products .my-nav ul li {
  display: inline-block;
}

.nav-products .my-nav .my-nav-cta {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Playfair Display";
  color: #2B2B2B;
  border: 1px solid #CCCCCC;
  width: 206px;
  height: 41px;
  padding: 10px;
  margin-right: 8px;
  transition: color 0.2s linear,
    background-color 0.2s linear;
}

.nav-products .my-nav .my-nav-cta:hover {
  background-color: #2B2B2B;
  color: #ffffff;
}

.catalog-preview .catalog-tiles {
  overflow: hidden;
  display: flexbox;
}

.catalog-preview .product-tile {
  float: left;
  text-align: center;
  width: 25%;
}

.catalog-preview .image-container {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.catalog-preview .product-image {
  width: 320px;
  height: 290px;
  padding-right: 20px;
  width: 100%;
}

.catalog-preview .product-tile .product-title {
  display: block;
  color: #2B2B2B;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  margin: 21px 0 15px 0;
}

.product-tile  .product-pricing .product-price {
  font-size: 22px;
}

.product-badge {
  font-size: 22px;
  color: #111111;
  position: absolute;
  margin: 70px 0 0 -60px;
}

.content footer {
  text-align: center;
  margin: 80px 0 0 0;
}

.content .catalog-preview-cta {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #2B2B2B;
  width: 127px;
  height: 49px;
  padding: 10px;
  transition: color 0.2s linear,
    background-color 0.2s linear;
}

.content .catalog-preview-cta:hover {
  background-color: #707070;
  color: #ffffff;
}

.content h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 68px 0 33px 0;
}

.content .radio {
  font-size: 22px;
  font-weight: bold;
  margin-right: 150px;
}

.content .option select {
  border: 1px solid #CCCCCC;
  width: 384px;
  height: 30px;
}

.content .image {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.content .details input[type="text"] {
  border: 1px solid #CCCCCC;
  background: transparent;
  width: 494px;
  height: 53px;
  text-align: right;
  padding-right: 13px;
  font-size: 23px;
  color: #DCD5D5;
}

.content .product-image {
  width: 100%;
  margin-top: 50px;
}

.content .message input[type="email"] {
  border: 1px solid #CCCCCC;
  width: 494px;
  height: 53px;
  padding-left:10px;
}

.content .message textarea {
  border: 1px solid #CCCCCC;
  width: 896px;
  height: 263px;
  padding: 10px 0 0 10px;
}

.content .submit {
  display: inline-block;
  text-align: center;
  float: right;
  margin: 113px 500px 0 0;
}

.content ul {
  display: inline-block;
}

.content ul li {
  color: #707070;
  font-family: "Roboto";
  margin: 48px 0;
}

.content a {
  font-family: "Roboto";
  font-weight: bold;
  color: #707070;
  font-size: 22px;
}

.content .submit button {
  text-transform: uppercase;
  border: 1px solid #2B2B2B;
  font-size: 25px;
  padding: 5px 25px;
  border: 1px solid #2B2B2B;
  background: transparent
}

.promo-content {
  background: url('..//Images/ea_time000a.png') no-repeat;
  background-size: cover;
}

.promo-banner {
  min-height: 1320px;
}

.banner-content {
  margin-right: 50px;
  padding-top: 90px;
  text-align: right;
}

.banner-content h1 {
  font-size: 40px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 10px;
}

.banner-content p {
  color: #040404;
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 300;
}

.footer-promo {
  margin: 0;
}



.footer {
  background: #E8E8E8;
  height: 249px;
  margin-top: 100px;
}

.footer-info {
  display: flex;
  padding-top: 40px;
}

.footer-info ul {
  display: inline-block;
  line-height: 35px;
  margin-right: 176px;
}

.footer-info ul a {
  display: block;
  color: #2B2B2B;
  font-size: 20px;
  text-decoration: none;
  text-transform: lowercase;
}

.footer-info ul li span {
  text-decoration: underline;
}

.footer-subscribe {
  float: right;
  margin: -130px 0 0 0;
}

.footer-subscribe input[type="text"] {
  border: 1px solid #CCCCCC;
  width: 261px;
  height: 34px;
  padding-left: 10px;
}

.footer-subscribe p {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-contact ul {
  display: inline-block;
  margin-top: 30px;
}

.footer-contact ul li {
  display: inline-block;
}

.footer-contact ul a {
  color: #2B2B2B;
  margin-right: 10px;
}

.footer-subscribe button {
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #2B2B2B;
  background: transparent;
  width: 75px;
  height: 25px;
  padding: 3px 10px;
}


