/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Playfairdisplay';
  color:#2B2B2B;
  font-size: 19px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

.header-top {
  background: url(../Images/banner.png) no-repeat center center;
  background-size: cover;
  min-height: 500px;
}

.header-contact {
  float: left;
  display: flex;
  margin-left: 170px;
  margin-top: 25px;
}

.header-contact ul li {
  display: inline-block;
}

.header-contact ul li a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}

.header .header-top .header-contact {
  color: white;
  font-size: 16px;
}

.header-contact a {
  text-decoration: none;
  color: white;
}

.header-controls {
  display: flex;
  float: right;
  margin-right: 170px;
  margin-top: 15px;
}

.search-form input[type="text"] {
  border: 1px solid #CCCCCC;
  background: transparent;
  width: 240px;
  height: 41px;
  padding-left: 30px;
}

.search-form button {
  background: transparent;
  border: transparent;
  line-height: 41px;
  cursor: pointer;
  font-size: 20px;
  color: #2B2B2B;
  position: absolute;
}

.header-top .user-control ul li {
  display: inline-block;
}

.user-control ul li a {
  display: inline-block;
  font-size: 22px;
  color: #111111;
  margin-left: 30px;
  margin-top: 10px;
}

.nav {
  text-align: center;
}

.nav ul {
  display: inline-block;
}

.nav ul li {
  display: inline-block;
  margin-top: 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0 65px;
}

.header-bottom {
  background-color: #2B2B2B;
  height: 52px;
}

.content h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 70px;
}

.catalog-preview .catalog-tiles {
  overflow: hidden;
  display: flexbox;
  margin: 50px 0 150px 0;

}

.catalog-preview .product-tile {
  float: left;
  text-align: center;
  width: 25%;
}

.catalog-preview .image-container {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.catalog-preview .product-image {
  width: 320px;
  height: 290px;
  padding-right: 20px;
  width: 100%;
}

.my-div {
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-top: 30px;
  margin-bottom: -50px;
}

.catalog-preview .product-tile .product-title {
  display: block;
  color: #2B2B2B;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  margin: 8px 0 15px 0;
}

.product-tile  .product-pricing .product-price {
  font-size: 22px;
}

.product-badge {
  font-size: 22px;
  color: #111111;
  position: absolute;
  margin: 10px 0 0 -60px;
}

.home-promo {
  display: inline-block;
  margin: 0 0 100px 0;
}

.home-promo .img-promo {
  float: left;
  margin-left: 30px;
}

.home-promo h2 {
  font-size: 44px;
  font-weight: 500;
  float: right;
  text-align: center;
  margin-bottom: 45px;
}

.home-promo p {
  float: right;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 40px;
  margin-right: 40px;
}

.home-promo .first-para {
  margin-bottom: 68px;
}

.content footer {
  text-align: center;
  margin: 0 0 110px 0;
}

.content .catalog-preview-cta {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  padding: 7px;
  text-transform: lowercase;
  border: 1px solid #2B2B2B;
}

.footer {
  background: #E8E8E8;
  height: 249px;
}

.footer-info {
  display: flex;
  padding-top: 40px;
}

.footer-info ul {
  display: inline-block;
  line-height: 35px;
  margin-right: 176px;
}

.footer-info ul a {
  display: block;
  color: #2B2B2B;
  font-size: 20px;
  text-decoration: none;
  text-transform: lowercase;
}

.footer-info ul li span {
  text-decoration: underline;
}

.footer-subscribe {
  float: right;
  margin: -130px 40px 0 0;
}

.footer-subscribe input[type="text"] {
  border: 1px solid #CCCCCC;
  width: 261px;
  height: 34px;
  padding-left: 10px;
}

.footer-subscribe p {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-contact ul {
  display: inline-block;
  margin-top: 30px;
}

.footer-contact ul li {
  display: inline-block;
}

.footer-contact ul a {
  color: #2B2B2B;
  margin-right: 10px;
}

.footer-subscribe button {
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #2B2B2B;
  background: transparent;
  width: 75px;
  height: 25px;
  padding: 3px 10px;
}





